:root {
  background-color: black;
  --accent: rgb(108, 172, 255);
  color: coral;
  font-family: 'Courier New', Courier, monospace;
}

.slider {
  /* margin-left: auto !important;
  margin-right: auto !important; */
  margin-bottom: 15;
  appearance: none;
  -webkit-appearance: none;
  width: min(50%, 300px);
  height: 10px;
  border-radius: 3px;
  background-color: saddlebrown;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 40%;
  background: coral;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 40%;
  background: coral;
  cursor: pointer;
}

.textbox {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: black;
  color: coral;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  width: 50px;
}

.yellow {
  color: yellow;
}

.centre {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  position: relative;
  margin-top: -45px;
  margin-left: 5px;
  border: 10px solid saddlebrown;
  border-radius: 50%;
  border-top: 10px solid coral;
  width: 20px;
  height: 20px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}